{{#sharings}}
<div id ="event-listing">
  <h4>{{profile.name}}</h4>
  <h5><span style="color:#000">Email:</span> {{profile.email}}</h5>
  <button class='btn btn-md btn-default' name="uninvite" id="uninvite" data-id={{id}}>Uninvite</button>
</div>
{{/sharings}}
