<tr>
  <div class="checkbox" style="text-align:left">
<td><label>
  <input type="checkbox"></label></td>
  <td><h4>{{item.name}}</h4></td>
  <td><h4>{{item.unit}}</h4></td>
</td>
<td><button type="button" class="close" style="text-align:center" id="deleteItem" data-id={{item.id}}><span aria-hidden="true">&times;</span></button>
</td>
</div>
</tr>
